html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*font-family: "PT Sans", Helvetica, Arial, sans-serif;*/
    font-family: "Merriweather", "Georgia", serif;
    text-rendering: optimizeLegibility;
    background-color: #fafafa;
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-kerning: normal;
    color: #333333;
}

a {
    color: inherit;
    text-decoration: underline;
}

h1 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1.75rem;
    color: inherit;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.1;
    color: #3700b3;
}

#__next {
    height: 100vh;
}
