html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*font-family: "PT Sans", Helvetica, Arial, sans-serif;*/
    font-family: "Merriweather", "Georgia", serif;
    text-rendering: optimizeLegibility;
    background-color: #fafafa;
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-kerning: normal;
    color: #333333;
}

a {
    color: inherit;
    text-decoration: inherit;
}

article p a {
    text-decoration: underline;
    color: rgb(11, 95, 255);
}

article p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.75rem;
    word-wrap: break-word;
}

h1 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1.75rem;
    color: inherit;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.1;
    color: #333333;
}

.sidebar {
    width: 320px;
    height: 100%;
    position: fixed;
}

.inner {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
    margin-left: 380px;
}

@media screen and (max-width: 680px) {
    .sidebar {
        width: auto;
        height: 400px;
        position: relative;
    }

    .inner {
        margin-left: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
}

#__next {
    height: 100vh;
}
