html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: underline;
}

#__next {
    height: 100vh;
}
